.tags {
	display: flex;
	color: white;
	flex-wrap: wrap;
}

.tags li {
	margin-right: 20px;
	background: #ff6060;
	border-radius: 10px;
	padding: 5px 27px;
	margin-bottom: 5px;
	font-size: 14px;
}

@media screen and (max-width: 768px) {
	.tags li {
		font-size: 10px;
		border-radius: 5px;
	}
}
