.carousel {
	position: relative;
	display: flex;
	align-items: center;
	margin-top: 35px;
	margin-bottom: 20px;
}

.carousel button {
	position: absolute;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

button.nextSlide {
	right: 0;
}

.slide {
	width: 100%;
	height: 415px;
}

.slide img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 25px;
}

.chevron {
	font-size: 80px;
	color: white;
	padding: 0 15px 0 15px;
}

@media screen and (max-width: 768px) {
	.carousel {
		margin-bottom: 15px;
	}
	.slide {
		height: 255px;
	}
	.slide img {
		border-radius: 10px;
	}
	.chevron {
		font-size: 35px;
	}
}
