.location {
	margin-bottom: 16px;
	position: relative;
	display: flex;
	border-radius: 10px;
	max-width: 340px;
	height: 340px;
	background-color: #000000;
}

.location img {
	object-fit: cover;
	width: 100%;
	height: 340px;
	opacity: 0.7;
	border-radius: 10px;
}

.title {
	position: absolute;
	top: 0px;
	right: 0;
	bottom: 0px;
	left: 0;
	display: flex;
	align-items: flex-end;
}
.title h2 {
	color: white;
	font-weight: 500;
	font-size: 18px;
	line-height: 142.6%;
	position: absolute;
	left: 5.88%;
	right: 5.88%;
	top: 78.82%;
	bottom: 5.88%;
}

@media screen and (max-width: 768px) {
	.location {
		height: 255px;
	}
	.location img {
		height: 255px;
	}
}

@media screen and (max-width: 425px) {
	.location {
		min-width: 100%;
	}
}
